	<body>
	<header role="banner" id="fh5co-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="index.html">{{.Params.header.brand}}</a> 
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#" data-nav-section="home"><span>{{.Params.header.navbar.home}}</span></a></li>
						<li><a href="#" data-nav-section="services"><span>{{.Params.header.navbar.services}}</span></a></li>
						<li><a href="#" data-nav-section="explore"><span>{{.Params.header.navbar.explore}}</span></a></li>
						<li><a href="#" data-nav-section="testimony"><span>{{.Params.header.navbar.testimony}}</span></a></li>
						<li><a href="#" data-nav-section="pricing"><span>{{.Params.header.navbar.pricing}}</span></a></li>
						<li><a href="#" data-nav-section="team"><span>{{.Params.header.navbar.team}}</span></a></li>
						<li><a href="#" data-nav-section="blog"><span>{{.Params.header.navbar.blog}}</span></a></li>
						<li><a href="#" data-nav-section="faq"><span>{{.Params.header.navbar.faq}}</span></a></li>
						<li class="call-to-action"><a class="sign-up" href="#"><span>{{.Params.header.navbar.signup}}</span></a></li>
						<li class="call-to-action"><a class="log-in" href="#"><span>{{.Params.header.navbar.login}}</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
	</header>